.home{
    width: 100%;
    height: calc(100vh - 100px);
    background-size:130rem 130rem;
    background-repeat: no-repeat;
    background-position:top 0 left 35vw;
    margin: auto;


    &__cta{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        
        @media screen and (max-width: 800px) {
            margin-top: 5rem;
        }


        
    &_content{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 10rem;
        margin-left: 17rem;

       
        &__heading{
            z-index: 1;

            font-size: 4rem;
            font-family: var(--font--primary);
            line-height: 148%;
            width:24ch;
            
            &_mini{
                font-family: "Source sans Pro";
                letter-spacing: 3pt;
                font-size: 1.5rem;
                font-weight: 400;
                color: var(--color-secondary);
                align-self: flex-start;
                justify-content: flex-end;
                position: relative;
                bottom: -1rem;
    
            }

        }

        div{
            position: relative;
            left: 4rem;
            z-index: 1;

        }

        &__tagline{
            z-index: 1;

            margin-top: 1rem;
            font-size: 2rem;
            font-family: var(--font-secondary);
            line-height: 131%;
            font-weight: 100;
            width: 36ch;
            &__reg_btn{
                display: block;
                position: relative;
                margin-top: 6.3rem;
                background-color: var(--color-secondary);
                font-size: 2rem;
                font-family: var(--font-secondary);
                width: 19.8rem;
                height: 6.2rem;
                color: var(--color-button-text);
                border-radius: 0.5rem;
                border: none;
                box-shadow: 0 0.6rem 3rem 0 rgba(193,33,60,44);
                cursor: pointer;
                transition: 0.25s all ease-in-out;

                &:hover{
                    transform: translateY(-0.75rem);
                }
            }
        }

    
    }
    &_product{
            z-index: 0;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: center;

        &__image{
            margin-right: 12rem;
            margin-top: 22rem;
            width: 42vw;
        }
    }

    @media screen and (max-width: 1000px) {
        justify-content: center;
      }
    
      @media screen and (max-width: 800px) {

        &_content{
            margin: auto;

            &__heading{
                width: 24ch;
                font-size: 3.5rem;
            }
            &_mini{
                letter-spacing: 1pt;
                font-size: 1rem;
            }
            div{
                left: 1rem;
            }
            &__tagline{
                font-size: 2rem;
                width: auto;
                max-width: 37ch;
                &__reg_btn{
                    font-size: 1.7rem;
                    width: 15rem;
                    height: 5rem;
                }
            }
      }
    }

    @media screen and (max-width: 1122px) {
        flex-direction: column;

        &_product{
            display: flex;
            justify-content: center;
            align-items: center;
            &__image{
                margin: 0;
                width: auto;
                max-width: 47rem;
                min-width: 30rem;
                margin-top: 10rem;

            }
        }
    }
    }

    &__foot ul{
        @media screen and (max-width: 1122px) {
            li{
                display: none;
            }
        }
    }

    &__foot ul{
        position: absolute;
        bottom: 4rem;
        padding: 5rem;
        display: flex;
        list-style: none;
        font-weight: 300;
        font-size: 1.8rem;
        font-family: var(--color-secondary);
        height: fit-content;
        width: fit-content;
        margin-left: 5rem;

        li:nth-of-type(1){
            width: 11rem;
            border-radius: 1px;
            height: 1px;
            background-color: var(--color-secondary);
            position: relative;
            top: 1.25rem;
        }
        li{
            width: fit-content;
            height: fit-content;
            margin-right: 3rem;
        }

        

    }
    

}