.navbar{
    z-index: 1;
    width: 100%;
    height: 10rem;
    border-bottom: white 1px solid;
    display: flex;
    align-items: center;
    &__logo{
        height: 100%;
        width: 100px;
        border-right: white 1px solid;
        img{
            width: 4rem;
            height: 100%;
            margin: 0 25px;
            cursor: pointer;
            transition: 0.25s all ease-in-out;
            &:hover{
                transform: scale(1.5);
            }
            
        }
    }
    &__nav_section{
        width: 100%;
    ul{
        list-style: none;
        font-size: 2rem;
        font-weight: 400;
        font-family: var(--font--secondary);
        display: flex;
        justify-content: center;


        li{
            position: relative;
            margin-right: 3rem;
            cursor: pointer;
            padding: 1rem;
            text-align: center;
            

        }
        .active, li:hover{
            color: var(--color-secondary);
            &::after{
                content: "";
                position: absolute;
                background: var(--color-secondary);
                bottom: 0;
                left: 30%;
                height: 1px;
                width: 35%;
                border-radius: 1px;

            }
        }
        @media screen  and (max-width:800px) {
            // visibility: hidden;
            z-index: 4;
            position: absolute;
            flex-direction: column;
            right: -50vw; 
            top: 20rem;
            transition: all ease-in-out 0.25s;
            li{
                margin-top: 5rem;
            }

            &.is-active{
                transform: translateX(-60vw);
            }
    
        }
    }
    
    

   
    }
    @media screen  and (min-width:800px) {
        .hamburger{
            visibility: hidden;
        }

    }

    .hamburger{
        z-index: 2;
        &::before{
            z-index: -1;
            content: "";
            position: absolute;
            top: 0rem;
            right: -60vw;
            width: 60vw;
            height: 100vh;
            background-color: rgba(255, 255, 255,1);
            transition: all ease-in-out 0.25s;
        }
    }
    .hamburger.is-active{
        &::before{
            transform: translateX(-60vw);
        }
    }
        
    
    
}